---
import Icon from '@components/Icon.astro';
import BackButton from '@components/BackButton.astro';

// 
const {data} = Astro.props;

// Format date
var date = new Date(data.pubDate);
var newdate= (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
---
<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-lg-8 mx-lg-auto">
            <BackButton where="blog" />
        </div>
        <div class="col-12 col-lg-8 mx-lg-auto div-blog">
            <h1 class="blog-header mb-4">{ data.title }</h1>
            <h5 class="blog-description mb-4 text-muted">{ data.description }</h5>
        </div>

        <div class="col-12 col-lg-8 mx-lg-auto">
            <!-- <div class="media media-post">
                <img src="{{ site.baseavatar }}" alt="..." class="rounded-circle img-thumbnail mr-3">
                <div class="media-body">
                    <h5 class="mt-2 mb-0">Por { data.author }</h5>
                    <span class="text-muted">
                        <Icon icon="calendar-day" />
                        { newdate }
                    </span>
                </div>
            </div> -->

            <div class="media-post">
                <h5 class="mt-2 mb-0">Por { data.author }</h5>
                <span class="text-muted d-block">
                    <Icon icon="calendar-day" />
                    { newdate }
                </span>
                <span class="text-muted d-block">
                    <Icon icon="iconmonstr-tag-14" />
                    { newdate }
                </span>
            </div>

            <hr class="mt-4 mb-5" />
        </div>
        
        <div class="col-12 col-lg-8 mx-lg-auto">
            <slot />
        </div>

        <div class="col-12 col-lg-8 mx-lg-auto mt-5">
            <div class="hr-especial">
                <hr>
                <h3 class="mb-0">Saiba mais</h3>
            </div>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur asperiores blanditiis quas veniam, suscipit magnam fuga explicabo doloremque. Quam labore temporibus ratione iure soluta error consectetur consequatur esse accusantium tempore.</p>
        </div>
        <!-- <div class="col-12 col-lg-8 mx-lg-auto">{{ content }}</div> -->
    </div>
</div>