---
layout: default
title: xpcassio.com
---

<div class="container">
	<div class="row">
		<!-- #1 COLUNA -->
		<div class="col-12 col-lg-4">
			<div class="row">
				<!-- SOBRE MIM -->
				<div class="col-12">
					<div class="new-header">
						<hr/>
						<h3>Sobre mim</h3>
					</div>
					<p class="text-justify mb-0">
		    			Programador web, com histórico profissional de 8 anos de desempenho exemplar em programação back- end/front-end de websites e/ou sistemas, administração de servidores e gerência de estruturas de TI. Versátil em todas as fases do ciclo de desenvolvimento de software, com forte conhecimento de algoritmos e estruturas de dados. Amplo conhecimento na engenharia de soluções personalizadas para a melhoria de processos, operações e rentabilidade.
					</p>
				</div>
				<!-- CURSOS -->
				<div class="col-12 col-md-6 col-lg-12 mt-5">
					<div class="new-header clearfix">
						<hr/>
						<h3>Cursos</h3>
					</div>

					{% for item in site.data.cursos %}
						<dl class="row {% if site.data.cursos.size != item.id  %}mb-3{% else %}mb-0{% endif %}">
							<dd class="col-12 mb-0">
								<strong class="clearfix">{{ item.nome }}</strong>
								<small class="text-muted clearfix">{{ item.onde }}</small>
								{{ item.status }}
							</dd>
						</dl>
					{% endfor %}
				</div>
				<!-- EDUCAÇAO -->
				<div class="col-12 col-md-6 col-lg-12 mt-5">
					<div class="new-header">
						<hr/>
						<h3>Educação</h3>
					</div>
					<address class="new-educacao">
						<h4 class="text-muted">Ciência da computação</h4>
						CESUPA • Centro Universitário do Estado do Pará<br>
						<strong>Graduação</strong>. 2008 – 2012<br>
					</address>
					<address class="new-educacao mb-0">
						<h4 class="text-muted">Especialização web management</h4>
						IESAM • Instituto de Ensino Superiores da Amazônia<br>
						<strong>Pós-Graduação</strong>. 2012 – 2013<br>
					</address>
				</div>
				<!-- IDIOMAS -->
				<div class="col-12 col-md-6 col-lg-12 mt-5">
					<div class="new-header">
						<hr/>
						<h3>Idiomas</h3>
					</div>
					<address class="new-educacao mb-0">
						<h4 class="text-muted">Inglês</h4>
						ILAC • International Language Academy of Canada<br>
					</address>
				</div>
			</div>	
		</div>

		<!-- #2 COLUNA -->
		<div class="col-12 col-lg-8">
			<div class="row">
				<!-- CONHECIMENTO -->
				<div class="col-12 mt-5 mt-lg-0">
					<div class="new-header">
						<hr/>
						<h3>Conhecimentos</h3>
					</div>

					{% for item in site.data.conhecimentos %}
						<img src="{{ item.link }}" class="mb-2 mr-2" alt="">
					{% endfor %}
				</div>
				<!-- EXPERIENCIAS -->
				<div class="col-12 mt-5">
					<div class="new-header clearfix">
						<hr/>
						<h3>Experiências Profissionais</h3>
					</div>

					{% for item in site.data.experiencias %}
						<dl class="row {% if site.data.experiencias.size != item.id  %}mb-3{% else %}mb-0{% endif %}">
							<dt class="col-12 col-sm-3 col-lg-2">{{ item.ano }}</dt>
							<dd class="col-12 col-sm-9 col-lg-10 mb-0">
								<strong class="clearfix">{{ item.empresa }}</strong>
								<small class="text-muted">{{ item.funcao }}</small>
								<p class="mb-0 mt-2">{{ item.desc }}</p>
							</dd>
						</dl>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>