---
layout: default_alt
title: xpcassio - projetos
---

<div class="container mb-5">
	<div class="row">
		<div class="col-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, officiis quae. Voluptate, molestiae maiores totam, vero esse sequi doloremque amet tempore iste nihil illum impedit commodi adipisci dolorum nobis, perspiciatis!</p>
		</div>
		<div class="col-12">
			<div class="hr-especial">
				<hr>
				<h3 class="mb-0">Profissional</h3>
			</div>
			<div class="row">
				{% for pessoais in site.data.projetos_prof %}
				<a href="/projetos/{{pessoais.id}}" class="col-12 col-md-6 col-lg-4">
					<div class="card mb-4">
						<img src="{{pessoais.imagem}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{pessoais.nome}}</h5>
							<p class="card-text">{{pessoais.texto}}</p>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="col-12 mt-5">
			<div class="hr-especial">
				<hr>
				<h3 class="mb-0">Freelance</h3>
			</div>
			<div class="row">
				{% for pessoais in site.data.projetos_own %}
				<div class="col-12 col-md-6">
					<a href="/projetos/{{pessoais.id}}" class="card mb-4" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-lg-4">
								<img src="{{pessoais.imagem}}" class="card-img rounded-0" alt="...">
							</div>
							<div class="col-lg-8">
								<div class="card-body">
									<h5 class="card-title">{{pessoais.nome}}</h5>
									<p class="card-text">{{pessoais.texto}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>