@use 'sass:color';

.new-header {
	hr {
		border-width: 5px;
		width: 100px;
		float: left;
		margin-top: 0;
		margin-bottom: 15px;
		border-color: color.adjust(#262626, $lightness: 25%);
	}

	h2,h3 {
		float: left;
		margin-top: 0;
		margin-bottom: 20px;
		width: 100%;
		color: #262626;
	}
}