@use 'sass:color';

footer.footer {
	text-align: center;
	background-color: color.adjust(#262626, $lightness: 5%);
	color: white;

	p {
		margin: 0;

		a {
			text-decoration: none;

			&:hover,&:focus { text-decoration: none; }

			&:before { content: '<'; margin-right: 3px; }
			&:after { content: '>'; margin-left: 3px; }
		}
	}
}