---
export const cursos_header_default = "Cursos";
export const cursos_header_en = "";

export const cursos_default = [
    {
        nome: "Gestão de Pessoas",
        onde: "Escola Nacional de Administração Pública",
        print: "Concluído",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Gestão de Conflitos",
        onde: "Escola Nacional de Administração Pública",
        print: "Concluído",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Productivity Strategies: Clarity, Purpose, and Task Prioritization",
        onde: "Escola Nacional de Administração Pública",
        print: "Concluído",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Introdução à Ciência de Dados",
        onde: "Escola Nacional de Administração Pública",
        print: "Concluído",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
];
export const cursos_en = [
    {
        nome: "Gestão de Pessoas",
        onde: "ENAP",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Gestão de Conflitos",
        onde: "ENAP",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Productivity Strategies: Clarity, Purpose, and Task Prioritization",
        onde: "ENAP",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
    {
        nome: "Introdução à Ciência de Dados",
        onde: "ENAP",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
];
---