---
export const cursos_header_default = "Certificações";
export const cursos_header_en = "Certifications";

export const cursos_default = [
    {
        nome: "Scrum Foundation Professional Certificate",
        onde: "SDPC",
        print: "Em andamento",
        status: "<span class=\"badge badge-secondary w-50 d-print-none\">Em andamento</span>"
    },
];
export const cursos_en = [
    {
        nome: "Scrum Foundation Professional Certificate",
        onde: "SDPC",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluído</span>"
    },
];
---