---
export const cursos_header_default = "Cursos";
export const cursos_header_en = "Courses";

export const cursos_default = [
    {
        nome: "Scrum Foundation Professional Certificate",
        onde: "SDPC",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    },
    {
        nome: "CS50's Web Programming with Python and JavaScript",
        onde: "HarvardX • Edx",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    },
    {
        nome: "CS50's Introduction to Computer Science",
        onde: "HarvardX • Edx",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    },
];
export const cursos_en = [
    {
        nome: "Scrum Foundation Professional Certificate",
        onde: "SDPC",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    },
    {
        nome: "CS50's Web Programming with Python and JavaScript",
        onde: "HarvardX • Edx",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Completed</span>"
    },
    {
        nome: "CS50's Introduction to Computer Science",
        onde: "HarvardX • Edx",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Completed</span>"
    },
];
---