---
export const cursos_header_default = "Cursos";
export const cursos_header_en = "Courses";

export const cursos_default = [
    {
        "nome": "CS50's Web Programming with Python and JavaScript",
        "onde": "HarvardX • Edx",
        "status": "<span class=\"badge badge-success w-50\">Concluido</span>"
    },
    {
        "nome": "CS50's Introduction to Computer Science",
        "onde": "HarvardX • Edx",
        "status": "<span class=\"badge badge-success w-50\">Concluido</span>"
    },
    {
        "nome": "Montagem e manutenção de microcomputadores",
        "onde": "Senac/PA",
        "status": "<span class=\"badge badge-success w-50\">Concluido</span>"
    }
];
export const cursos_en = [
    {
        "nome": "CS50's Web Programming with Python and JavaScript",
        "onde": "HarvardX • Edx",
        "status": "<span class=\"badge badge-success w-50\">Complete</span>"
    },
    {
        "nome": "CS50's Introduction to Computer Science",
        "onde": "HarvardX • Edx",
        "status": "<span class=\"badge badge-success w-50\">Complete</span>"
    },
    {
        "nome": "Montagem e manutenção de microcomputadores",
        "onde": "Senac/PA",
        "status": "<span class=\"badge badge-success w-50\">Complete</span>"
    }
];
---