---
export const educacao_header_default = "Educação";
export const educacao_header_en = "Education";

export const educacao_default = [
    {
        nome: "Técnico em Administração",
        onde: "IFSulMG • Instituto Federal de Educação, Ciência e Tecnologia do Sul de Minas Gerais",
        tipo: "Curso Técnico",
        print: "Em andamento",
        status: "<span class=\"badge badge-secondary w-50 d-print-none\">Em andamento</span>"
    },
];
export const educacao_en = [];
---