---
export const educacao_header_default = "Educação";
export const educacao_header_en = "Education";

export const educacao_default = [
    {
        nome: "Desenvolvimento Web e Mobile",
        onde: "IFsulMG • Instituto Dederal de Educação, Ciência e Tecnologia do Sudeste de MG",
        tipo: "Pós-Graduação",
        print: "Em andamento",
        status: "<span class=\"badge badge-secondary w-50 d-print-none\">Em andamento</span>"
    },
    {
        nome: "Especialização Web Management",
        onde: "IESAM • Instituto de Ensino Superiores da Amazônia",
        tipo: "Pós-Graduação",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    },
    {
        nome: "Bacharel em Ciência da Computação",
        onde: "CESUPA • Centro Universitário do Estado do Pará",
        tipo: "Graduação",
        print: "Concluido",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Concluido</span>"
    }
];
export const educacao_en = [
    {
        nome: "Web and Mobile Development",
        onde: "IFsulMG • Instituto Dederal de Educação, Ciência e Tecnologia do Sudeste de MG",
        tipo: "Postgraduate",
        print: "In progress",
        status: "<span class=\"badge badge-secondary w-50 d-print-none\">In progress</span>"
    },
    {
        nome: "Web Management Specialization",
        onde: "IESAM • Instituto de Ensino Superiores da Amazônia",
        tipo: "Postgraduate",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Completed</span>"
    },
    {
        nome: "Bachelor of Computer Science",
        onde: "CESUPA • Centro Universitário do Estado do Pará",
        tipo: "Graduation",
        print: "Completed",
        status: "<span class=\"badge badge-success w-50 d-print-none\">Completed</span>"
    }
];
---