---
export const experiencias_header_default = "Experiências Profissionais";
export const experiencias_header_en = "Professional Experiences";

export const experiencias_default = [
    {
      "ano": "2021 - 2025",
      "empresa": "CI&T",
      "funcao": "Desenvolvedor FrontEnd / Engenheiro de Software",
      "cargo": "Pleno",
      "descricao": "Desenvolvedor FullStack, com experiência em diversos projetos, incluindo: portal integrado para a <a target=\"_tab\" href=\"https://janssenprolatam.com/pt-br\">Janssen</a> (braço farmacêutico da Johnson & Johnson), site institucional para a <a target=\"_tab\" href=\"https://picpay.com\">PicPay</a> e sistema integrado para a <a target=\"_tab\" href=\"https://www.dominos.pizza\">Domino's Pizza</a>."
    },
    {
      "ano": "2020 - 2021",
      "empresa": "SECRETARIA DE FAZENDA DO ESTADO DO PARÁ",
      "funcao": "Desenvolvedor FrontEnd / Engenheiro de Software",
      "cargo": "PJ",
      "descricao": "Desenvolvedor FrontEnd, com grande foco no desenvolvimento da experiência do usuário e na engenharia do software, em projetos administrativos para o portal da <a target=\"_tab\" href=\"https://app.sefa.pa.gov.br/homologacao-credito/#/consultar\">Secretaria de Fazenda do Estado do Pará</a>."
    },
    {
      "ano": "2018 - 2019",
      "empresa": "BRFLOR",
      "funcao": "Desenvolvedor FullStack / Engenheiro de Software",
      "cargo": "Pleno",
      "descricao": "Desenvolvedor FullStack de sistema administrativos voltados para a indústria de extração e beneficiamento da madeira na empresa <a target=\"_tab\" href=\"https://brflor.com\">BRFlor</a>."
    },
    {
      "ano": "2017 - 2018",
      "empresa": "Labes – Laboratório de Eng. De Software da UFPA",
      "funcao": "Desenvolvedor de FrontEnd",
      "cargo": "PJ",
      "descricao": "Desenvolvedor de FrontEnd de sites, com foco na usabilidade e experiência do usuário, no laboratório de engenharia de softwares da Universidade Federal do Pará (UFPA)."
    },
    {
      "ano": "2012 - 2018",
      "empresa": "Metaweb Internet LTDA.",
      "funcao": "Desenvolvedor FullStack / Engenheiro de Software",
      "cargo": "Junior",
      "descricao": "Desenvolvedor FullStack de painéis administrativos e sites para uma empresa de hospedagem <a target=\"_tab\" href=\"https://www.metaweb.com.br\">Metaweb</a>. Também atuava como suporte técnico em programação e banco de dados."
    }
];
export const experiencias_en = [
    {
      "ano": "2021 - 2025",
      "empresa": "CI&T",
      "funcao": "FrontEnd Programmer / Software Engineer",
      "cargo": "",
      "descricao": "Full Stack Developer with experience in various projects, including: integrated portal for <a target=\"_tab\" href=\"https://janssenprolatam.com/pt-br\">Janssen</a> (the pharmaceutical arm of Johnson & Johnson), institutional website for <a target=\"_tab\" href=\"https://picpay.com\">PicPay</a>, and integrated system for Domino's Pizza."
    },
    {
      "ano": "2020 - 2021",
      "empresa": "SECRETARIA DE FAZENDA DO ESTADO DO PARÁ",
      "funcao": "FrontEnd Programmer / Software Engineer",
      "cargo": "",
      "descricao": "FrontEnd developer, focused on user experience and software engineering, in administrative projects for the portal of the <a target=\"_tab\" href=\"https://app.sefa.pa.gov.br/homologacao-credito/#/consultar\">Secretary of Finance of the State of Pará</a>."
    },
    {
      "ano": "2018 - 2019",
      "empresa": "BRFLOR",
      "funcao": "FullStack Programmer / Software Engineer",
      "cargo": "",
      "descricao": "FullStack programmer of administrative systems aimed at wood extraction and processing industries in the company <a target=\"_tab\" href=\"https://brflor.com\">BRFlor</a>."
    },
    {
      "ano": "2017 - 2018",
      "empresa": "Labes – Laboratório de Eng. De Software da UFPA",
      "funcao": "FrontEnd Programmer",
      "cargo": "",
      "descricao": "FrontEnd programmer of websites, focusing on usability and user experience, at the software engineering laboratory at the Federal University of Pará (UFPA)."
    },
    {
      "ano": "2012 - 2018",
      "empresa": "Metaweb Internet LTDA.",
      "funcao": "FullStack Programmer / Software Engineer",
      "cargo": "Jr",
      "descricao": "FullStack developer of administrative panels and websites for a hosting company <a target=\"_tab\" href=\"https://www.metaweb.com.br\">Metaweb</a>. Also worked as technical support in programming and database."
    }
];
---