---
export const experiencias_header_default = "Experiências Profissionais";
export const experiencias_header_en = "Professional Experiences";

export const experiencias_default = [
    {
      "ano": "06/2025 - 12/2025",
      "empresa": "AFYA",
      "funcao": "Desenvolvedor Senior",
      "cargo": "PJ",
      "descricao": "Atuação estratégica na modernização do portal Afya iClinic, participando da condução técnica das entregas e da evolução de sistemas legados com foco em escalabilidade, estabilidade e melhoria contínua. Responsável por apoiar decisões arquiteturais, definição de boas práticas de engenharia e alinhamento técnico entre equipes, contribuindo para a qualidade, performance e sustentabilidade das aplicações.",
    },
    {
      "ano": "06/2021 - 05/2025",
      "empresa": "CI&T",
      "funcao": "Desenvolvedor Senior",
      "cargo": "CLT",
      "descricao": "Atuação em projetos nacionais e internacionais de grande porte, exercendo papel de liderança técnica e apoio estratégico em iniciativas de transformação digital para clientes como Johnson & Johnson, Planet, PicPay e Domino’s Pizza. Participação na coordenação técnica das entregas, definição de arquitetura, padronização de soluções e garantia da qualidade operacional dos sistemas, com foco em performance, escalabilidade e experiência do usuário. Responsável por apoiar equipes multidisciplinares em processos de desenvolvimento ágil, promovendo boas práticas, revisão de código, melhoria contínua e alinhamento entre necessidades técnicas e objetivos de negócio, e fortalecimento da confiabilidade das plataformas digitais.",
    },
    {
      "ano": "04/2020 - 04/2021",
      "empresa": "SECRETARIA DE FAZENDA DO ESTADO DO PARÁ",
      "funcao": "Desenvolvedor Pleno",
      "cargo": "PJ",
      "descricao": "Atuação em projetos administrativos, contribuindo para a evolução de sistemas internos com foco em experiência do usuário, qualidade operacional e confiabilidade das aplicações. Participação na definição de soluções técnicas, melhoria contínua de processos e manutenção de sistemas, garantindo estabilidade, performance e aderência às necessidades institucionais. Colaboração com equipes multidisciplinares em ambiente ágil, apoiando decisões técnicas e iniciativas de modernização tecnológica.",
    },
    {
      "ano": "05/2018 - 12/2019",
      "empresa": "BRFLOR",
      "funcao": "Desenvolvedor Pleno",
      "cargo": "CLT",
      "descricao": "Responsável pelo desenvolvimento e sustentação de sistemas administrativos voltados à operação industrial, contribuindo para a melhoria dos processos internos e suporte às áreas de negócio. Atuação em soluções FullStack com foco na confiabilidade das aplicações, integração com banco de dados e melhoria da experiência operacional dos usuários.",
    },
    {
      "ano": "01/2017 - 01/2018",
      "empresa": "Labes – Laboratório de Eng. De Software da UFPA",
      "funcao": "Desenvolvedor Junior",
      "cargo": "PJ",
      "descricao": "Atuação no desenvolvimento de interfaces e sistemas web, com foco em usabilidade, experiência do usuário e qualidade das aplicações. Participação em projetos acadêmicos e institucionais utilizando boas práticas de desenvolvimento e colaboração em equipe multidisciplinar.",
    },
    {
      "ano": "03/2012 - 04/2018",
      "empresa": "Metaweb Internet LTDA.",
      "funcao": "Desenvolvedor Junior",
      "cargo": "CLT",
      "descricao": "Atuação no desenvolvimento e manutenção de sistemas administrativos, painéis corporativos e sites institucionais, além do suporte técnico relacionado a aplicações web e banco de dados. Experiência direta em suporte operacional e resolução de incidentes, contribuindo para a continuidade e estabilidade dos serviços oferecidos pela empresa.",
    }
];
  
  export const experiencias_en = [
  {
    "ano": "06/2025 - 12/2025",
    "empresa": "AFYA",
    "funcao": "Senior Front-End Engineer",
    "cargo": "Contract",
    "descricao": "Senior Front-End Engineer responsible for modernizing the <a target=\"_tab\" href=\"https://app.iclinic.com.br/\">Afya - Iclinic</a> portal, leading the refactoring of legacy systems to improve performance, scalability, and maintainability.",
  },
  {
    "ano": "06/2021 - 05/2025",
    "empresa": "CI&T",
    "funcao": "Senior Front-End Engineer",
    "cargo": "Full-Time",
    "descricao": "",
  },
  {
    "ano": "04/2020 - 04/2021",
    "empresa": "Secretary of Finance – State of Pará",
    "funcao": "Front-End Engineer",
    "cargo": "Contract",
    "descricao": "",
  },
  {
    "ano": "05/2018 - 12/2019",
    "empresa": "BRFlor",
    "funcao": "Full-Stack Engineer",
    "cargo": "Full-Time",
    "descricao": "",
  },
  {
    "ano": "01/2017 - 01/2018",
    "empresa": "UFPA – Software Engineering Laboratory (LABES)",
    "funcao": "Junior Front-End Engineer",
    "cargo": "Contract",
    "descricao": "",
  },
  {
    "ano": "03/2012 - 04/2018",
    "empresa": "Metaweb Internet Ltd.",
    "funcao": "Junior Full-Stack Engineer",
    "cargo": "Full-Time",
    "descricao": "",
  }
];

---