---
export const footer_default = {
    screen: "Desenvolvido com ❤️ por <a class=\"text-muted\" href=\"mailto:xpcassio@gmail.com\" target=\"_top\">xpcassio</a>",
    print: "Gerado dinamicamente para impressão em formato A4. Para mais informações entre em contato pelo email <strong>xpcassio@duck.com</strong> e para uma melhor visualização acesse <strong>xpcassio.com</strong>. Muito obrigado!"
}

export const footer_en = {
    screen: "Developed with ❤️ by <a class=\"text-muted\" href=\"mailto:xpcassio@gmail.com\" target=\"_top\">xpcassio</a>",
    print: "Dynamically generated for printing in A4 format. For more information, contact <strong>xpcassio@duck.com</strong> and for a better view, visit <strong>xpcassio.com</strong>. Thank you very much!"
};
---
