---
import { getCollection } from 'astro:content';
import LayoutAlt from '../../layouts/LayoutAlt.astro';

// Get the bookmark list
const bookmarkList = await getCollection('bookmark');
---

<!-- <Debug {bookmarkList} /> -->

<LayoutAlt title="xpcassio - Bookmark">
    <div class="container">
        <h1>Bookmark</h1>
        <ul>
            {bookmarkList.map(blogPostEntry => (
                <li>
                  <a href={`/bookmark/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
                </li>
            ))}
        </ul>
    </div>
</LayoutAlt>