<div class="jumbotron jumbotron-one rounded-0">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-4 text-center">
				<img src="{{ site.baseavatar }}" alt="..." class="rounded-circle img-thumbnail">
			</div>
			<div class="col-12 col-sm-8 text-center">
				<h1 class="nome-geral mt-3 mt-sm-0 mt-lg-4 mb-0">Cássio Nascimento</h1>
				<hr class="style-hr bg-white"/>

				<a href="mailto:xpcassio@gmail.com" class="social-mail d-inline-block mt-1">
					{% include /svg/envelope-square.svg %}
					<span class="d-none d-sm-inline">xpcassio@gmail.com</span>
				</a>
				<a href="https://www.linkedin.com/in/xpcassio/" target="_tab" class="social-linkedin d-inline-block mt-1">
					{% include /svg/github-square.svg %}
				</a>
				<a href="https://github.com/xpcassio" target="_tab" class="social-github d-inline-block mt-1">
					{% include /svg/linkedin.svg %}
				</a>
			</div>
		</div>
	</div>
</div>