<div class="jumbotron jumbotron-two rounded-0 {% if page.url == '/blog.html' or page.url == '/projetos.html' %}mb-5{% else %}mb-0{% endif %} border-top border-dark">
	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark p-0">
			<button class="navbar-toggler mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				{% include /svg/bars.svg %}
			</button>

			<div class="collapse navbar-collapse mt-2 mt-sm-0" id="navbarSupportedContent">
				<ul class="navbar-nav">
					{% for item in site.data.navegacao %}
						<li class="nav-item text-center">
							<a class="nav-link {% if page.url == item.link %}active{% endif %} {% if item.id == 1 %}pl-0{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
						</li>
					{% endfor %}
				</ul>

				{% if page.url == "/blog.html" %}
					<form class="form-inline ml-auto my-2 my-lg-0">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button" id="button-addon2">{% include /svg/search.svg %}</button>
							</div>
						</div>
					</form>

				{% elsif page.url != "/projetos.html"  %}

				cassinho! {{ page.url }}

				{% endif %}
			</div>
		</nav>
	</div>
</div>