.logo-geral {
	width: 32px;
}

.text-geral {
	font-family: 'Archivo Black', sans-serif;
}

.hr-especial {
	hr {
		margin-bottom: 40px;
	}

	h3 {
		top: -2px;
		position: absolute;
		background: white;
		padding: 0 10px 0 0;
		font-size: 1.50rem;
	}
}