.jumbotron-two {
	background-color: lighten($new_preto, 5%);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;

	nav.navbar {
		.navbar-toggler {

			svg {
				fill: rgba(255,255,255,.5);
				width: 25px;
			}
		}
	}
}