.div-blog {
	.blog-header {
		font-family: 'Archivo Black', sans-serif;
		font-size: 1.5rem;
	}

	.blog-description {
		font-size: 1rem;
		line-height: 1.5;
	}
}

.media-post {
	img {
		width: 60px;
		height: 60px;
	}

	h5 {
		font-size: 1rem;
	}

	span {
		font-size: .9rem;
	}

	svg {
		width: 12px;
		margin-top: -2px;
		fill: #6c757d;
	}
}

/* ============================================= 
   RESPONSIVENESS
   ============================================= */
@media (min-width: 768px) { // Small devices (landscape phones, 576px and up)

.div-blog {
	text-align: center;

	.blog-header {
		font-size: 2rem;
	}

	.blog-description {
		font-size: 1.1rem;
	}
}

}

@media (min-device-width: 970px) { // Medium devices (tablets, 768px and up)

.div-blog {
	.blog-header {
		font-size: 2.5rem;
	}

	.blog-description {
		font-size: 1.3rem;
	}
}

}