---
---

/* ============================================= 
   FONTS 
   ============================================= */
@import 'https://fonts.googleapis.com/css?family=Archivo+Black&display=swap';

body p {
	// font-size: .9rem;
}

/* ============================================= 
   COLORS 
   ============================================= */
$new_preto: #262626;
$azul_linkdin: #007bb6;
$cinza_github: #24292e;

/* ============================================= 
   PAGES 
   ============================================= */
@import 'alternativo';
@import 'post';

/* ============================================= 
   LAYOUT 
   ============================================= */
@import 'header_alt';
@import 'menu';
@import 'footer_alt';