---
import { sobre_assis_adm, sobre_assis_adm_en } from "@datas/sobre.astro";

// Internacionalization
let sobre;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en')
	sobre = sobre_assis_adm_en;
else
	sobre = sobre_assis_adm;
---
<div class="col-12 col-lg-10 offset-lg-1">
    <div class="new-header">
        <hr class="d-print-none"/>
        <h3>{sobre.header}</h3>
    </div>
    <p class="text-justify mb-0">
        {sobre.about}
    </p>
</div>