---
import { cursos_header_default, cursos_en, cursos_header_en, cursos_default } from "@datas/cursos.astro";

// Internacionalization
let header,cursos;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en') {
    header = cursos_header_default;
    cursos = cursos_en;
}
else {
    header = cursos_header_en;
    cursos = cursos_default;
}

// Functions
function getClassCur(item: number) {
	return (cursos.length != item + 1) ? true : false;
}

function isLast(item: number) {
	return (cursos.length == item + 1) ? true : false;
}
---
<div class="col-12 col-lg-10 offset-lg-1 mt-5">
    <div class="new-header clearfix">
        <hr class="d-print-none"/>
        <h3>{header}</h3>
    </div>

    <div class="row">
        {cursos.map((cur, i) =>
            <div class="col-12 col-md-6 col-lg-4">
                <dl class:list={[{'mb-3': getClassCur(i), 'mb-0': isLast(i)}]}>
                    <dd class="mb-0">
                        <strong class="clearfix">{cur.nome}</strong>
                        <small class="text-muted clearfix">{cur.onde}</small>
                        <Fragment set:html={cur.status}></Fragment>
                    </dd>
                </dl>
            </div>
        )}
    </div>
</div>