---
---
<div class="col-12 col-lg-10 offset-lg-1">
    <div class="row">
        <div class="col-12 col-lg-8 my-5">
            <div class="new-header">
                <hr class="d-print-none"/>
                <h3>Educação</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <address class="new-educacao">
                        <h4 class="text-muted">Bacharel em Ciência da computação</h4>
                        CESUPA • Centro Universitário do Estado do Pará<br>
                        <strong>Graduação</strong>. 2008 – 2012<br>
                    </address>
                </div>
                <div class="col-12 col-md-6">
                    <address class="new-educacao mb-0">
                        <h4 class="text-muted">Especialização web management</h4>
                        IESAM • Instituto de Ensino Superiores da Amazônia<br>
                        <strong>Pós-Graduação</strong>. 2012 – 2013<br>
                    </address>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 mb-5 mt-lg-5">
            <div class="new-header">
                <hr class="d-print-none"/>
                <h3>Idiomas</h3>
            </div>
            <address class="new-educacao mb-0">
                <h4 class="text-muted">Inglês</h4>
                ILAC • International Language Academy of Canada<br>
            </address>
        </div>
    </div>
</div>