---
import { footer_default, footer_en } from "@datas/footer.astro";

// Internacionalization
let footer;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en')
	footer = footer_en;
else
	footer = footer_default;
---

<footer class="mt-auto py-3 footer">
	<div class="container d-print-none">
		<p class="mb-0"><Fragment set:html={footer.screen} /></p>
	</div>

	<div class="container d-none d-print-flex">
		<p><Fragment set:html={footer.print} /></p>
	</div>
</footer>
