---
const year = new Date().getFullYear();

// Internacionalization
let text,print;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en') {
	text = 'Developed with ❤️ by';
	print = 'Generated dynamically for printing. For more information, please contact via email at xpcassio@duck.com and for a better view, visit xpcassio.com. Thank you very much!';
}
else {
	text = 'Desenvolvido com ❤️ por';
	print = 'Gerado dinamicamente para impressão. Para mais informações entre em contato pelo email xpcassio@duck.com e para uma melhor visualização acesse xpcassio.com. Muito obrigado!';
}
---

<footer class="mt-4 mt-lg-5 mb-3">
	<div class="container d-print-none">
		<p class="mb-0">{text} <a class="text-muted" href="mailto:xpcassio@gmail.com" target="_top">xpcassio</a></p>
	</div>

	<div class="container d-none d-print-flex">
		<p>{print}</p>
	</div>
</footer>
