---
const year = new Date().getFullYear();
---

<footer class="mt-4 mt-lg-5 mb-3">
	<div class="container d-print-none">
		<p class="mb-0">&#169; {year} Todos os direitos reservados. Desenvolvido com ❤️ por <a class="text-muted" href="mailto:xpcassio@gmail.com" target="_top">xpcassio</a></p>
	</div>

	<div class="container d-none d-print-flex">
		<p>Gerado dinamicamente para impressão. Para mais informações entre em contato pelo email <strong>xpcassio@duck.com</strong> e para uma melhor visualização acesse <strong>xpcassio.com</strong>. Muito obrigado!</p>
	</div>
</footer>
