---
import imgAvatar from '../../public/icon.webp';
---

<div class="jumbotron jumbotron-three rounded-0">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex align-items-center">
				<img src={imgAvatar} alt="" class="rounded-circle img-thumbnail logo-geral">
				<h4 class="text-geral d-inline mb-0 ml-3">XPCASSIO</h4>
			</div>
		</div>
	</div>
</div>
