---
import { navegacao_default, navegacao_en } from "@datas/navegacao.astro";
import SvgBars from '@images/svg/bars.svg';

// Internacionalization
let navegacao;
const currentLocale = Astro.currentLocale;
if (currentLocale === 'en')
	navegacao = navegacao_en;
else
	navegacao = navegacao_default;

// Functions
function isActive(link: string) {
	return (link === Astro.url.pathname) ? true : false;
}
---
<div class="jumbotron jumbotron-two rounded-0 mb-5 border-top border-dark d-print-none">
	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark p-0">
			<button class="navbar-toggler mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
                <SvgBars />
			</button>

			<div class="collapse navbar-collapse mt-2 mt-sm-0" id="navbarSupportedContent">
				<ul class:list={['navbar-nav', 'mx-auto']}>
					{navegacao.map((nav) =>
						<li class:list={["nav-item text-center", {'d-none': nav.disabled}]}>
							<a class:list={["nav-link", {active: isActive(nav.link)}]} href={nav.link}>{nav.name}</a>
						</li>
					)}
				</ul>
			</div>
		</nav>
	</div>
</div>
