---
import Icon from '../components/Icon.astro';
import dataNavsPt from '../datas/pt_navegacao.json';
import dataNavsEn from '../datas/en_navegacao.json';
import { Debug } from 'astro/components';

// lang
let tmpPathname = Astro.url.pathname.replace("en", "");
let dataNavs;
if (Astro.url.pathname == '/en')
	dataNavs = dataNavsEn;
else
	dataNavs = dataNavsPt;

// Fix pathName
const pathArray = tmpPathname.split('/')
tmpPathname = `/${pathArray[1]}`

// Validations
const urlValidation = (tmpPathname === '/') ? true : false;

// Functions
function isActive(menuItem) {
	return (menuItem.link === tmpPathname) ? true : false;
}

function isAltDesk(index) {
	return (index === 0 && !urlValidation) ? true : false;
}
---

<div class="jumbotron jumbotron-two rounded-0 mb-5 border-top border-dark d-print-none">
	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark p-0">
			<button class="navbar-toggler mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
                <Icon icon="bars" />
			</button>

			<div class="collapse navbar-collapse mt-2 mt-sm-0" id="navbarSupportedContent">
				<ul class:list={['navbar-nav', {'mx-auto': urlValidation}]}>
					{dataNavs.map((nav, index) =>
						<li class:list={["nav-item text-center", {'d-none': nav.disabled}]}>
							<a class:list={["nav-link", {active: isActive(nav), 'pl-md-0': isAltDesk(index)}]} href={nav.link}>{nav.name}</a>
						</li>
					)}
				</ul>

				{tmpPathname === '/blog' &&
					<form class="form-inline ml-auto my-0 my-lg-0">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button" id="button-addon2"><Icon icon="search" /></button>
							</div>
						</div>
					</form>	
				}

				{tmpPathname === '/projetos' || tmpPathname === '/blog' || tmpPathname === '/bookmark' &&
					<div class="text-center text-md-right w-100">
						<button type="button" class="btn btn-secondary mt-1 mt-md-0 ml-md-auto" onclick="window.history.back();"><Icon icon="chevron-left" />Voltar</button>
					</div>
				}
			</div>
		</nav>
	</div>
</div>
