---
import AboutMeAssisAdm from '@components/AboutMeAssisAdm.astro';
import CursoAssisAdm  from '@components/CursosAssisAdm.astro';
import EducacaoAssisAdm  from '@components/EducacaoAssisAdm.astro';
import IdiomasAssisAdm  from '@components/IdiomasAssisAdm.astro';
import StacksAssisAdm from '@components/StacksAssisAdm.astro';
import StacksAssisAdmTec from '@components/StacksAssisAdmTec.astro';
import HomeLayout from '@layouts/home.astro';
---
<HomeLayout title="xpcassio - Inicial">
  <div class="container">
	<div class="row">
      <AboutMeAssisAdm/>
      <StacksAssisAdm />
      <StacksAssisAdmTec />
      <div class="col-12">
        <div class="row">
          <CursoAssisAdm />
          <div class="col-12 col-lg-6">
            <EducacaoAssisAdm />
            <IdiomasAssisAdm />
          </div>
        </div>
      </div>
    </div>
  </div>
</HomeLayout>
