<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
	<link rel="icon" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
	<link rel="icon" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
	<link rel="icon" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#262626"/>

	<title>{{ page.title }}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/estilo_alt.css">
</head>
<body>
	{% include header_alt.html %}
	{% include menu_alt.html %}
	
	<div class="container mb-5">
		<div class="row">
			<div class="col-12 col-lg-8 mx-lg-auto div-blog">
				<h1 class="blog-header mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, possimus!</h1>
				<h5 class="blog-description mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ex iusto, quis ipsa maxime sit alias tempore molestias. Fuga architecto ad porro consequuntur rem aliquid.</h5>
			</div>

			<div class="col-12 col-lg-8 mx-lg-auto">
				<div class="media media-post">
					<img src="/assets/images/xpcassio.png" alt="..." class="rounded-circle img-thumbnail mr-3">
					<div class="media-body">
						<h5 class="mt-2 mb-0">Por Cássio Nascimento</h5>
						<span class="text-muted">
							{% include /svg/calendar-day.svg %}
							11/11/1111 00h00
						</span>
					</div>
				</div>

				<hr class="mt-4 mb-5" />
			</div>
			
			<div class="col-12 col-lg-8 mx-lg-auto">
				{{ content }}
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus cum ducimus similique vero. Inventore ad sed repellat quisquam pariatur dolorum, labore quos. Nostrum, consequuntur. Explicabo, sed rem accusamus dolorem!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus cum ducimus similique vero. Inventore ad sed repellat quisquam pariatur dolorum, labore quos. Nostrum, consequuntur. Explicabo, sed rem accusamus dolorem!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus cum ducimus similique vero. Inventore ad sed repellat quisquam pariatur dolorum, labore quos. Nostrum, consequuntur. Explicabo, sed rem accusamus dolorem!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus cum ducimus similique vero. Inventore ad sed repellat quisquam pariatur dolorum, labore quos. Nostrum, consequuntur. Explicabo, sed rem accusamus dolorem!</p> -->
			</div>

			<div class="col-12 col-lg-8 mx-lg-auto mt-5">
				<div class="hr-especial">
					<hr>
					<h3 class="mb-0">Saiba mais</h3>
				</div>
				<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur asperiores blanditiis quas veniam, suscipit magnam fuga explicabo doloremque. Quam labore temporibus ratione iure soluta error consectetur consequatur esse accusantium tempore.</p>
			</div>
			<!-- <div class="col-12 col-lg-8 mx-lg-auto">{{ content }}</div> -->
		</div>
	</div>

	{% include footer_alt.html %}

	<!-- JS -->
	<script type="text/javascript" src="/assets/js/jquery-3.4.1.slim.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>