.form-check .form-check-label > a {
    color: var(--pbm-orange-primary) !important;
    text-decoration: none;
}

.form-check .form-check-label > a:hover, .form-check .form-check-label > a:focus {
    text-decoration: underline;
}

.form-check .form-check-input:checked {
    background-color: var(--pbm-success-secondary);
    border-color: var(--pbm-success-secondary);
}

/* VALIDATION */
.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #dee2e6;
    padding-right: .75rem;
    background: transparent;
}

.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    border: 1px solid #dee2e6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border: 1px solid #dee2e6;
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    border-color: var(--pbm-success-secondary);
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
    color: var(--pbm-grey-font);
}

.form-control.is-valid, .was-validated .form-control:invalid {
    padding-right: .75rem;
    background: transparent;
    border-color: var(--pbm-danger-secondary);
}

.invalid-feedback {
    color: var(--pbm-danger-secondary);
}